<!-- Footer -->
<footer class="footer">
	<div class="footer-left col-md-4 col-sm-6">
		<p class="about">
			<span>
				A propos de l'Agence du Pimp</span>
			Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
						      ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
		</p>
		<div class="icons">
			<a href="#">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-linkedin"></i>
			</a>
			<a href="#">
				<i class="fa fa-instagram"></i>
			</a>
			
		</div>
	</div>
	<div class="footer-center col-md-4 col-sm-6">
		<div>
			<i class="fa fa-map-marker"></i>
			<p>
				<span>
					17, rue Delandine 69002</span>
				Lyon, France</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>
				(+33) 04 78 56 75 75</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p>
				<a href="/assets/Images/img/constru.jpg">
					contact@agencedupimp.com</a>
			</p>
		</div>
	</div>
	<div class="footer-right col-md-4 col-sm-6">
		<h2>
			Agence du Pimp
		</h2>
		<p class="menu">
			<a href="/Home/index">
				Accueil</a>
			|
			<a href="/Home/cgv">
				CGV</a>
			|
			<a href="/Home/legal">
				Mentions légales</a>
			|
			<a href="#">
				Mon compte</a>
			|
			
		</p>
		<p class="name">
			Copyright &copy; 2021</p>
	</div>
</footer>
<!-- Footer -->
