<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top ">
	<div class="logo">
		<img src="/assets/Images/Logos/logo4.jpg" class="img-responsive w-65" alt="logo">
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<li class="nav-item active">
			<a class="nav-link" href="#">Home
				<span class="sr-only">(current)</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="Custom/custom">Custumisation</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Accessoires
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Rétroviseurs</a>
				<a class="dropdown-item" href="#">Selles</a>
			</li>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Contacter Nous</a>
		</li>
		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
			 Compte Client
			</a>

			
			
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item" href="#">Connection</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Déconnection</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Créer un compte</a>
				</li>
			</ul>
		</li>
			<ul>
				<li>
					<span class="social-icon social-panier">
						<i class="fa fa-shopping-cart"></i>
					</span>
				</li>
			</ul>

		<div class="container-nav">
			<ul>
				<li>
					<span class="social-icon social-facebook">
						<i class="fa fa-facebook"></i>
					</span>
				</li>
				<li>
					<span class="social-icon social-twitter">
						<i class="fa fa-twitter"></i>
					</span>
				</li>
				<li>
					<span class="social-icon social-linkedin">
						<i class="fa fa-linkedin"></i>
					</span>
				</li>
				<li>
					<span class="social-icon social-instagram">
						<i class="fa fa-instagram"></i>
					</span>
				</li>

			</ul>

		

		</div>

	</div>
</nav>
