{% extends 'layout.html.twig' %}


{% block title %}personnalisation{% endblock %}


{% block content %}
    <h1>Etape: 1 choisissez la moto</h1>

{% include 'Home/personnalisation.html.twig' %}

{% endblock %}
