{% extends 'layout.html.twig' %}


{% block title %}personnalisation{% endblock %}


{% block content %}
    <h1>Commencez votre personnalisation!</h1>

{% include 'Home/personnalisation.html.twig' %}

{% endblock %}
