 
 
  
  
  <main>
    <div class="slider-moto">
      <div class="image-moto moto1"></div>
      <div class="image-moto  moto2"></div>
      <div class="image-moto  moto3"></div>
    </div>
      
  </main>
