        
    <main>    
        <div class="container">
            <div class="row">
                <div class="slider-moto col-lg-10 col-10 col-md-10">
                    <div>
                        <img src="/assets/images/img/aprilia 1480x800.png" class="img-responsive w-100" alt="coix moto 1">
                    </div>
                    <div>
                        <img src="/assets/images/img/triyump 1480x800.png" class="img-responsive w-100" alt="coix moto 2">
                    </div>
                    <div>
                        <img src="/assets/images/img/Duccati 1480x800.jpg" class="img-responsive w-100" alt="coix moto 3" >
                    </div>
                </div>
            </div>
        </div>
    </main>