
<div class="banner">
  <div class="banner-text">
    <h1>Agence Du Pimp</h1>
    <h2>Vos rêves sont nos réalités  !</h2>
  </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="slider-vitrine col-lg-12 col-md-12 clo-sm-12 col-12">
            
            <div>
                <img src="/assets/images/img-vitrine/1200-L-moto-dition-spciale.jpg" class="image-responsive w-100" alt="Moto vitrine 1">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/1200-paris-motor-show.jpg" class="image-responsive w-100" alt="Moto vitrine 2">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/Ducati-1199-Polished-Panigale-2.jpg" class="image-responsive w-100" alt="Moto vitrine 3">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/moto-tuning.jpg" class="image-responsive w-100" alt="Moto vitrine 4">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/MV-Agusta-Brutale-1000-RR-02.jpg" class="image-responsive w-100" alt="Moto vitrine 5">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/S0-mv-augusta-brutale-1000-rr-2020-609134.jpg" class="image-responsive w-100" alt="Moto vitrine 6">
            </div>
            <div>
                <img src="/assets/images/img-vitrine/vtr custom.jpg" class="image-responsive w-100" alt="Moto vitrine 7">
            </div>
            
        </div>
    </div>
</div> 