/* Début du slider choix de couleur fait par Furkan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    max-width: 500px;
    margin: 0 auto;
}

.img-div {
    height: 100px;
    width: auto;
    margin: 0 15px;
    border-radius: 100%;
    border: solid 2px black;
}

.div1 {
    background-color: blue;
}

.div2 {
    background-color: green;
}

.div3 {
    background-color: red;
}

.div4 {
    background-color: yellow;
}

.div5 {
    background-color: black;
}

.spe {
    border-bottom: solid 3px grey;
    text-align: center;
}
