body {
    margin: 0;
}


/* Début css slider moto */

main {
    background-color: grey;
    padding: 0px;

}


.slider-moto {
    margin: 0 auto;
    padding: 0px;

}

/* Fin css slider moto */


:root {
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}

.slider {

    margin: 0 auto;
}

 


/* Début css slider vitrine */

.slider-vitrine {
    margin: 0 auto;
    padding: 0 !important;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 62px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.banner h1,
.banner h2,
h6 {
    margin: 0;
    text-shadow: 6px 6px 13px #000;
    text-align: center;

}

.banner {

    color: orange;
    background: url('https://www.planet-ride.com/wp-content/uploads/2018/05/BANNIERE-INDIA.jpg') center/cover no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 !important;

    font-family: 'Pirata One', cursive;
}

@media(min-width: 768px) and (max-width: 1000px) {



    .banner {

        width: 100%;

        padding: 0px;

    }







    .banner h1,
    .banner h2,
    h6 {

        width: 80%;
        font-size: 50px;

    }



}

@media(max-width: 767px) {



    .banner {

        width: 100%;

        padding: 0px;

    }




    .banner h1,
    .banner h2,
    h6 {

        width: 80%;
        font-size: 50px;

    }

}
    /* fin css slider vitrine */

    /*debut css header*/

    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }

    .social-icon {
        height: 30px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
        border-radius: 7px;
        margin-right: 11px;
        cursor: pointer;
    }

    .social-twitter {
        background-color: #55acee;
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
    }


    .social-instagram {
        background-color: #dd4b39;
    }

    .social-panier {
        background-color: whitesmoke;
    }

    .social-icon i {
        transition: 0.4s all;
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
    }


    .social-twitter {
        background-color: #55acee;
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
    }

    .social-panier {
        background-color: orange;

    }




    .social-instagram {
        background-color: #dd4b39;
    }

    .social-icon i {
        transition: 0.4s all;
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

    .d-flex {

        justify-content: flex-end;
    }

    .btn {
        color: orange;

    }

    .btn-outline-success:hover {
        background-color: orange;

    }

    .form-inline {
        display: flex;

    }

    .navbar-collapse {
        justify-content: space-between;
        padding: 0 !important;
        background-color: black;
    }

    .navbar, .dropdown-menu  {
        font-family: 'Pirata One', cursive;
        font-size: x-large;
    }

    .bg-dark {
        background-color: black !important;
    }



    /*fin css header*/
    