body {
    margin: 0;
}


/* Début css slider moto */

main {
    background-color: grey;
    padding: 0px;

}


.slider-moto {
    margin: 0 auto;
    padding: 0px;

}

/* Fin css slider moto */


:root {
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
}

.slider {

    margin: 0 auto;
}

    /*debut css header Remi */
 

@media(max-width: 767px) {



    .banner {

        width: 100%;

        padding: 0px;

    }




    .banner h1,
    .banner h2,
    h6 {

        width: 80%;
        font-size: 50px;

    }

.slider-vitrine {
    margin: 0 auto;
    padding: 0 !important;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 62px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}
    /* fin css slider vitrine */

    /*debut css header*/

    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }

    .social-icon {
        height: 30px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
        border-radius: 7px;
        margin-right: 11px;
        cursor: pointer;
    }

    .social-twitter {
        background-color: #55acee;
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
    }


    .social-instagram {
        background-color: #dd4b39;
    }

    .social-panier {
        background-color: whitesmoke;
    }

    .social-icon i {
        transition: 0.4s all;
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
    }


    .social-twitter {
        background-color: #55acee;
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
    }

    .social-panier {
        background-color: orange;

    }




    .social-instagram {
        background-color: #dd4b39;
    }

    .social-icon i {
        transition: 0.4s all;
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

    .d-flex {

        justify-content: flex-end;
    }

    .btn {
        color: orange;

    }

    .btn-outline-success:hover {
        background-color: orange;

    }

    .form-inline {
        display: flex;

    }

    .navbar-collapse {
        justify-content: space-between;
        padding: 0 !important;
        background-color: black;
    }

    .navbar, .dropdown-menu  {
        font-family: 'Pirata One', cursive;
        font-size: x-large;
    }

    .bg-dark {
        background-color: black !important;
    }



    /*fin css header*/
    
  
    /* CSS footer By Pascal
    /* début footer */

.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }

  /* fin du footer */
  /* fin CSS footer by Pascal */

  /* CSS formulaire d'inscription by Pascal */


  .form-group{
      width: 20%;
      margin-left: 15px;
    }

/* fin du CSS formulaire d'inscription by Pascal */
.banner h1,
.banner h2,
h6 {
    margin: 0;
    text-shadow: 6px 6px 13px #000;
    text-align: center;

}

.banner {

    color: orange;
    background: url('https://www.planet-ride.com/wp-content/uploads/2018/05/BANNIERE-INDIA.jpg') center/cover no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 !important;

    font-family: 'Pirata One', cursive;
}

@media(min-width: 768px) and (max-width: 1000px) {



    .banner {

        width: 100%;

        padding: 0px;

    }







    .banner h1,
    .banner h2,
    h6 {

        width: 80%;
        font-size: 50px;

    }



}

@media(max-width: 767px) {



    .banner {

        width: 100%;

        padding: 0px;

    }




    .banner h1,
    .banner h2,
    h6 {

        width: 80%;
        font-size: 50px;

    }

}
    /* fin css slider vitrine */

    /*debut css header*/

    ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }

    .social-icon {
        height: 30px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        border-radius: 7px;
        margin-right: 11px;
        cursor: pointer;
        list-style: none;
        text-decoration: none;
    }

    .social-twitter {
        background-color: #55acee;
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
    }


    .social-instagram {
        background-color: #dd4b39;
    }

    .social-panier {
        background-color: whitesmoke;
    }

    .social-icon i {
        transition: 0.4s all;
       
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

    ul {
        list-style: none;
        text-decoration: none;
        display: flex;
    }


    .social-twitter {
        background-color: #55acee;
        
    }

    .social-facebook {
        background-color: #3b5999;
    }

    .social-linkedin {
        background-color: #0077B5;
        list-style: none;
        text-decoration: none;
    }

    .social-panier {
        background-color: orange;
        

    }

    .social-instagram {
        background-color: #dd4b39;
    }

    .social-icon i {
        transition: 0.4s all;
    }

    .social-icon:hover i {
        transform: scale(1.1);
    }

   

    .btn-outline-success:hover {
        background-color: orange;

    }

    .form-inline {
        display: flex;

    }

    .navbar-collapse {
        
        padding: 0 !important;
        background-color: black;
        list-style: none;
        
    }

    .navbar, .dropdown-menu  {
        font-family: 'Pirata One', cursive;
        font-size: x-large;
        
    }

    .bg-dark {
        background-color: black !important;
    }

    /*fin du header*/


    /* début footer */

.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 0px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }
/* fin du footer */

/* CSS formulaire d'inscription by Pascal */

  .form-group{
      width: 20%;
      margin-left: 15px;
    }

/* fin du CSS formulaire d'inscription by Pascal */
