{% extends "layout.html.twig" %}

{% block content %}
	<form action="/Login/signUp" method="POST" class="form-contact">
		<h2 class="text-center">Connexion</h2>

		<p>Pour continuer sur notre site, veuillez vous identifier:</p>
			<h1>Bonjour {{ session.firstname }}</h1>
          
		<div class="form-group">

			<input type="email" name="email" class="form-control" placeholder="Email" required="required" autocomplete="off"><br>
		</div>

		<div class="form-group">

			<input type="password" name="password" class="form-control" placeholder="Mot de passe" required="required" autocomplete="off"><br>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Connexion</button><br><br>
		</div>

		<div class="form-group">
			<h6>Pas encore de compte ?

				<a href="/Connection/registration">Inscrivez-vous</a>
			</h6>
		</div>
	</div>
{% endblock %}
